//=============================================================================
// Script: calibrator.rc
// Author: Thomas Reidemeister <thomas@labforge.ca>
//   This script contains resources that will be built into the windows executable.
//
// Copyright (C) 2013-2023 Labforge Inc.
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
//=============================================================================
1 ICON "img\labforge.ico"
1 VERSIONINFO
FILEVERSION     0,1,0,100
PRODUCTVERSION  0,1,0,100
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Labforge Inc."
      VALUE "FileDescription", "Labforge Stereo Calibration Utility."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Calibration Utility"
      VALUE "LegalCopyright", "Labforge Inc."
      VALUE "OriginalFilename", "calibrator.exe"
      VALUE "ProductName", "Calibration Utility"
      VALUE "ProductVersion", "1.0"
    END
  END
END